@font-face {
  font-family: 'Icons';
  src: url(<%= asset_path "icons.eot" %>);
  src: url(<%= asset_path "icons.eot?#iefix" %>) format('embedded-opentype'),
  url(<%= asset_path "icons.woff2" %>) format('woff'),
  url(<%= asset_path "icons.woff" %>) format('woff'),
  url(<%= asset_path "icons.ttf" %>) format('truetype'),
  url(<%= asset_path "icons.svg#icons" %>) format('svg');
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-decoration: inherit;
  text-transform: none;
}
