<style>
  .feed{
    width:500px;
  }
  .event{
    border-bottom-style: solid;
    border-width: 0.5px;
    padding: 5px !important;
  }
  .angle.up.icon:hover{
      color:blue !important;
  }
  .angle.down.icon:hover{
      color:red !important;
  }
  .ui.stackable.menu{
    margin-top:-5px !important;
  }
</style>
<div class="ui stackable menu">
  <div class="item">
    <%= image_tag "naja.png" %>
  </div>
  <a class="item"><h3>POST</h3>it</a>

</div>
<center>
<div class="feed">
<% @posts.each do |post| %>
<div class="ui feed">
<div class="event">
  <div class="label">
    <img src=<%= "https://robohash.org/#{post.user.username}" %>>
  </div>
  <div class="content">
    <div class="summary">
      <a>@<%= post.user.username %></a> <%= post.title %>
      <div class="date">
        <%= time_ago_in_words(post.created_at) %>
      </div>
    </div>
    <div class="extra text">
      <%= post.body %>
    </div>
    <div class="meta">
        <i class="angle up icon"> </i><%= post.vote_balance %><i class="angle down icon"></i>
    </div>
  </div>
</div>
</div>
<% end %>
</div>
<h4>Paginas: <%= will_paginate @posts %></h4>
</center>
