<!DOCTYPE html>
<html>
  <head>
    <title>Postit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="semantic/semantic.js"></script>
    <script src="jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="semantic/semantic.css">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
