<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <center>
      <form action="<%= @task.persisted? ? "/tasks/#{@task.id}" : "/tasks" %>" method="post">
          <h3>Description:</h3><br>
          <% @task.errors.full_messages.each do |message| %>
            <li><%= message %>
          <% end %>
          <br><input type="hidden" name="_method" value="<%= @task.persisted? ? "put" : "post" %>" />
          <textarea name="desc" rows="8" cols="80">
            <%= @task.description %>
          </textarea> <br>
          <button type="submit"> Adicionar </button>
      </form>
    </center>
  </body>
</html>
