<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tasks</title>
    <script>
      function removeTask(env, id){
        env.preventDefault();

        let removeIt = confirm("Remover Tarefa?");
        if(removeIt){
          var xhr = new XMLHttpRequest();
          xhr.open('DELETE', `/tasks/${id}`);
          xhr.onload = function(){
            location.reload();
          };
          xhr.send();
        }
      }
    </script>
    <style>
      .middle.aligned.divided.list{
        width: 500px !important;
      }
      body{
        background-color: #2F4F4F !important;
        color:white !important;
      }
      .icon.header{
        color:white !important;
        border-color:white;
      }
    </style>
    <script src="semantic/semantic.js"></script>
    <script src="jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="semantic/semantic.css">
  </head>
  <body>

    <center>
      <br>
      <h2 class="ui center aligned icon header">
        <i class="circular tasks icon"></i>
        Minha Lista de Tarefas
      </h2>
      <form action="./tasks" method="post">
        <button type="submit" class="positive ui button">Adicionar Tarefa</button>
      </form>
      <div class="ui middle aligned divided list">
        <% @tasks.each do |task| %>
        <div class="item">
          <div class="right floated content">
            <a href="<%= "/tasks/#{task.id}" %>"> <div class="ui primary button">Edit</div></a>
            <a href="#" onclick="removeTask(event, <%= task.id %>)"><div class="negative ui button">Excluir</div></a>
          </div>
          <div class="left floated content">
          <%= task.description %>
          </div>
        </div>

        <% end %>
      </div>
    </center>
  </body>
</html>
