<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="jquery.js"></script>
    <script src="semantic/semantic.js"></script>
    <script src="vue.js"></script>
    <link rel="stylesheet" href="semantic/semantic.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="ui stackable menu">
      <div class="item">
        <img src="imagem/logo.png">
      </div>
      <a class="item">Features</a>
      <a class="item">Testimonials</a>
      <a class="item">Sign-in</a>
    </div>

    <div id="produto">
      <div class="imagem-do-produto">
        <img v-bind:src="imagem" class="img">
      </div>
      <div class="informações do produto">
        <h1>{{ produto }}</h1>
        <p v-if="inStock"> Em Estoque </p>
        <p v-else> Esgotado </p>
        <ul>
          <li v-for="detalhe in detalhes"> {{ detalhe }} </li>
        </ul>
        <div  v-for="variante in variantes" :key="variante.varianteId" class="caixa" :style="{backgroundColor:variante.variantColor}"
              @mouseover="updateProduct(variante.variantImagem)">
        </div>
      </div>

      <button v-on:click="carrinho += 1"> Adicionar ao carrinho </button>
      <div class="carrinho">
        <p> Carrinho({{carrinho}}) </p>
      </div>
    </div>

  <script src="main.js"> </script>
  </body>
</html>
