<script type="text/javascript">
  function createlink(e) {
    e.preventDefault();
    let urlElement = document.getElementById("url")

    var xhr = new XMLHttpRequest();
    xhr.open('POST', `/?link=${urlElement.value}`);
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    xhr.onload = function(){
      let response = JSON.parse(xhr.responseText);
      console.log(response);

      document.getElementById("short-link").innerHTML = response.short;

    };
    xhr.send();
  }

</script>

<form onsubmit="createlink(event)">
  <input type="text" id="url" name="url" placeholder="Digite sua URL"> <br>
  <button type="submit" name="enviar"><i class="paper plane icon"></i> <b> Diminuir </b> </button>
  <p id="short-link"> </p>
</form>
