<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Links</title>
  </head>
  <body>
  <center>
  <h1>Naja Link Shortner</h1>
  <%= yield %>
  </center>

  </body>
</html>
