<style>
  .feed{
    width:400px;
  }
</style>

<center>
<div class="feed">
<% @posts.each do |post| %>
<div class="ui feed">
<div class="event">
  <div class="label">
    <img src="<%=Faker::LoremFlickr.image%>">
  </div>
  <div class="content">
    <div class="summary">
      <a>@<%= post.user.username %></a> <%= post.title %>
      <div class="date">
        <%= time_ago_in_words(post.created_at) %>
      </div>
    </div>
    <div class="extra text">
      <%= post.body %>
    </div>
    <div class="meta">
      <a class="like">
        <i class="like icon"></i> 5 Likes
      </a>
    </div>
  </div>
</div>
</div>
<hr>
<% end %>
</div>
</center>
